.border-top {
    border-top:1px solid #cdcdcd;
}

.border-bottom {
    border-bottom:1px solid #cdcdcd;
}

.word-list {
    flex-direction: column;
    display: flex;
}

.list-item {
    background-color: #fff !important;
    flex-direction: column;
    display: flex;
    border-radius:5px;
    padding:35px 2px 20px 0px;
    margin-bottom: 20px;
}

.list-item-title {
    text-transform:capitalize;
    font-weight: bold;
    font-size: 14pt;
}

.list-item-time {
    padding-top: 10px;
    font-size: 11pt;
    color:#b2b2b2;
}

.footer {
    padding: 30px 0px 20px 0px;
    text-align: center;
    color:#b2b2b2;
    font-size: 9pt;
}