.btn-bubble:after {
    content: "";
    background: #ed4630;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.75s ease-in-out;
  }

.btn-bubble:active:after {
    transform: scale(0);
    opacity: 1;
    transition: 0s;
  }

  
input,textarea {
  background: #fff;
}

textarea {
  width: 98% !important;
}

// 溢出显示省略
.text-ellipsis { 
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

// 溢出换行
.text-newline { 
  word-wrap: break-word;
}

.page {
  background-color: #f4f4f4;
}

.page-content {
  padding-left: 45px;
  padding-right: 45px;
}

/*form*/

.form-content {
  flex-direction: column;
  display: flex;
}

.form-item {
  flex-direction: column;
  display: flex;
  justify-content:flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12pt;
}

.form-title {
  min-width: 150px;
  max-width: 150px;
  white-space: pre-wrap; 
}

.form-input {
  padding-top: 30px;
}

.form-submit-item {
  flex-direction: row;
  display: flex;
  justify-content:flex-end;
  padding-top:20px;
  font-size: 12pt;
}

.form-submit {
  text-align: right;
  color:#3271fd;
  padding-right: 15px;
}

.submit-button {
  outline:none !important;
  border:none !important;
  color:#3271fd !important;
  font-size: 12pt !important;
  padding:0 !important;
}