.page {
    background-color: #efeff4;
}

.page-content {
    color: #000;
    padding-left:87px;
    padding-right:87px;
    margin-top:75px;
}

.navigation-bar {
    position: relative;
    left: 0;
    top: 0;
    width: 750rpx;
    color: #000;
    background-color: #efeff4;
    z-index: 99;
    text-align: center;
    transition: 300ms;
}

.word-content .content {
    width: 580px;
    transition:All 0.4s ease-out;
    -webkit-transition:All 0.4s ease-out;
    -moz-transition:All 0.4s ease-out;
    -o-transition:All 0.4s ease-out;
}

.header {
    padding: 20rpx 10rpx 0 0;
    position: relative;
}

.header-icon {
    z-index:9;
    float: right;
}

.header-icon .icomoonfont {
    width: 100px;
    height: 100px;
    font-size: 50px;
    color:#fff;
}

.content-body {
    flex-direction:row;
    position:relative;
    padding: 80px 0px 20px 0px;
    color:#b2b2b2;
}

.word-english {
    font-weight: 500;
    text-transform:capitalize;
    display: inline;
    font-size: 13pt;
    color: #111;
}

.word-chinese {
    padding:2px 0 0 0px; 
    font-size: 11pt;
    color: #b2b2b2;
}

.word-phonetic {
    font-weight: normal;
    font-size: 11pt;
    padding-left:2px;
    color: #b2b2b2;
}

.sentence-english {
    font-size: 13pt;
}

.sentence-chinese {
    padding-top: 10px;
    font-size: 12pt;
}