.page-content {
    padding-top: 178px;
}

.upload-file {
    color:#3271fd;
    margin:0px 0px 40px 0px;
}

.file-list {
    flex-direction: column;
    display: flex;
    padding:20px 0px 20px 87px;
}

.file-list view {
    padding:10px 0px 10px 0px;
    width: 450px;
    white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden;
}

.file-list-del {
    color:#3271fd;
    padding-right: 20px;
}