.page-content {
    padding-top:130px;
}

.border-top {
    border-top:1px solid #cdcdcd;
}

.border-bottom {
    border-bottom:1px solid #cdcdcd;
}

.word-list {
    flex-direction: column;
    display: flex;
}

.list-item {
    background-color: #fff !important;
    flex-direction: column;
    display: flex;
    border-radius:5px;
    padding:20px 87px 20px 87px;
}

.list-item-text {
    text-transform:capitalize;
    font-weight: bold;
    font-size: 14pt;
}

.list-item-content {
    flex-direction: row;
    display: flex;
    justify-content:space-between;
}

.list-item-tool {
    color:#3271fd;
}

.list-item-more {
    padding-top: 20px;
}

.list-item-more view {
    padding: 5px 0px;
     color:#b2b2b2;
    font-size: 11pt;
}

.list-item-time {
    padding-top: 10px;
    color:#b2b2b2;
    font-size: 11pt;
}

.footer {
    padding: 30px 0px 20px 0px;
    text-align: center;
    color:#b2b2b2;
    font-size: 9pt;
}