.page {
    background-color: #efeff4;
}

.page-content {
    padding-top:130px;
}

.border-top {
    border-top:1px solid #cdcdcd;
}

.border-bottom {
    border-bottom:1px solid #cdcdcd;
}

.word-list {
    flex-direction: column;
    display: flex;
}

.list-group {
    background-color: #fff !important;
    flex-direction: column;
    display: flex;
    border-radius:5px;
    padding:35px 87px 20px 87px;
    margin-bottom: 20px;
}

.list-item {
    background-color: #fff !important;
    flex-direction: row;
    display: flex;
    height: 80px;
    line-height: 80px;
}

.list-item-title {
    text-transform:capitalize;
    font-weight: bold;
    font-size: 14pt;
}

.list-item-content {
    flex-direction: column;
    display: flex;
    font-size: 11pt;
    color:#b2b2b2;
    margin-top: 10px;
}

.list-item-tool {
    text-align: right;
    font-size: 10pt;
}

.list-item-del {
    color:red !important;
}

.list-item-time {
    padding-top: 10px;
    font-size: 11pt;
}

.footer {
    padding: 40px 0px 40px 0px;
    text-align: center;
    font-size: 9pt;
}