.page-content {
    padding-top:178px;
}

.border-top {
    border-top:1px solid #cdcdcd;
}

.border-bottom {
    border-bottom:1px solid #cdcdcd;
}

.word-list {
    flex-direction: column;
    display: flex;
}

.list-group {
    background-color: #fff !important;
    flex-direction: column;
    display: flex;
    border-radius:5px;
    padding:35px 87px 20px 87px;
    margin-bottom: 20px;
}

.list-item-title {
    text-transform:capitalize;
    font-weight: bold;
    font-size: 14pt;
}

.list-item-content {
    flex-direction: column;
    display: flex;
    font-size: 11pt;
    color:#b2b2b2;
    margin-top: 10px;
}

.list-item-time {
    padding-top: 10px;
    font-size: 11pt;
}

.list-right-group {
    position: absolute;
    right: -100%;
    top: 0;
    height: 100%;
    z-index: 1;
    width: 100%;
    flex-direction: row;
    display: flex;
}

.list-right-group-item {
    height: 100%;
    float: left;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    padding:0px 20px;
    color:#fff;
}

.footer {
    padding: 40px 0px 40px 0px;
    text-align: center;
    font-size: 9pt;
}