.page-content {
    padding: 35px 87px 35px 87px;
}

.pay {
    flex-direction: row;
    display: flex;
    justify-content:flex-start;
}

.pay image {
    width: 290px;
    height: 350px;
    padding:20px 0px 20px 0px;
}


