.page-header {
  height: 120px;
  flex-direction: column;
  display: flex;
  background-color: #fff;
  margin-top: 20px;
}

.header-title {
  flex-direction: row;
  display: flex;
  padding-left:45px;
  font-size: 25pt;
  font-weight: 500;
}

.page-header-hr {
  flex-direction: row;
  display: flex;
  height: 1px;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 20px;
  border-bottom: 2px solid #c7c7ca;
}