.article {
    flex-direction: column;
    display: flex;
}

.article-item {
    background-color: #fff !important;
    flex-direction: row;
    display: flex;
    border-radius:5px;
    padding:20px 0px 20px 5px;
}

.article navigator {
    padding-bottom:20px;
}

.article-item-icon {
    height: 115px;
    width: 200px;
    padding-left:85px;
}

.article-item-icon image {
    height: 115px;
    width: 200px;
    border-radius:10px;
}

.article-item-title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 20px 30px 0px 25px;
    font-size: 11pt
}


.update {
    margin-top: 30%;
    text-align: center;
  }
  
  .await {
    font-size: 25pt;
  }
  