.page-nav {
    display:flex; 
    flex-direction:row;
    justify-content:flex-end;
    width: 100%;
}

.page-nav view {
    width: 100px;
    height: 60px;
}

.page-nav text {
    color:#3271fd;
    // font-size: 12pt;
    float: right;
}

.flex-custom {
    flex-direction: column;
    display: flex;
}

.flex-custom-item {
    width: 100%;
}

.flex-custom-item-title {
    flex-direction: row;
    justify-content:flex-start;
    display: flex;
    padding-top:20px;
    padding-bottom:10px;
    color:#b2b2b2;
}

.flex-custom-item-title navigator {
    color:#df6921 !important;
    font-size: 11pt;
}

.flex-custom-item-word {
    padding-top:35px;
    padding-bottom:10px;
    font-size: 22pt;
    font-weight: bold;
    text-transform:capitalize;
}

.flex-custom-item-phonetic {
    flex-direction:row;
    display: flex;
    height: 80px;
    padding-bottom:10px;
    color:#b2b2b2;
    font-size: 11pt;
}

.flex-custom-item-phonetic view {
    height: 80px;
    text-align: center;
    line-height: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 285px;
}

.flex-custom-item-phonetic view:nth-child(2) {
    padding-left:20px;
}

.flex-custom-item-phonetic text {
    padding-left:10px;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

.icon-sound {
    color:#3271fd !important;
    font-size: 13pt !important;
}

.flex-custom-item-cn {
    padding-top:20px;
    padding-bottom:25px;
    font-size: 12pt;
}

.flex-custom-item-cn view {
    padding-top:5px;
    padding-bottom:5px;
}

.flex-custom-item-collocation {
    padding-top:10px;
    padding-bottom:10px;
    font-size: 11pt;
}

.flex-custom-item-sentences {
    font-size: 11pt;
}

.flex-custom-item-sentences view {
    padding-top:10px;
    padding-bottom:10px;
}

.page-help {
    padding: 50px 0px 30px 0px;
    color:#b2b2b2;
    font-size: 9pt;
}

.page-tools {
    flex-direction: row;
    display: flex;
}

.page-tools-item {
    flex-direction: column;
    width: 100%;
}

.page-tools-item-love {
    text-align: right;
    margin-top: 5px;
}

.page-tools-item-love .icon-love {
    font-size: 14pt;
}

.page-tools-item-next {
    color:#3271fd;
    font-size: 12pt;
    text-align: right;
}